/*Created with Adobe RoboHelp 10.*/
body {
  font-family: Arial;
  background-color: #ffffff;
  counter-reset: p\.numbered;
}
h1 {
  font-size: 18pt;
  background-color: #dde5f4;
  color: #000000;
  font-weight: bold;
  font-family: Arial;
  x-next-class: Content_body;
  x-next-type: p;
}
h2 {
  font-weight: bold;
  color: #000000;
  font-family: Arial;
  font-size: 11.5pt;
  x-next-class: Content_body;
  x-next-type: p;
  font-style: normal;
  letter-spacing: NaNpx;
}
h3 {
  font-weight: bold;
  font-size: 14.0pt;
}
h4 {
  font-weight: bold;
  font-size: 12.0pt;
}
h5 {
  font-weight: bold;
  font-size: 10.0pt;
}
h6 {
  font-weight: bold;
  font-size: 8.0pt;
}
p {
  font-size: 12.0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
}
a {
  color: #0000ff;
  font-size: 10pt;
  display: inline;
  font-family: Arial;
  text-decoration: underline;
}
a.expandspot {
  color: #008000;
  cursor: hand;
  font-style: italic;
  text-decoration: none;
}
a.dropspot {
  cursor: hand;
  color: #0000ff;
  text-decoration: none underline;
}
a.glossterm {
  color: #800000;
  cursor: hand;
  font-style: italic;
  text-decoration: none;
}
span.glosstext {
  font-style: italic;
  font-weight: normal;
  color: #0000ff;
}
ol,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  line-height: 1.15;
}
p.Content_body {
  margin-top: 6pt;
  margin-bottom: 6pt;
  font-size: 11.5pt;
  font-family: Arial;
  font-weight: normal;
}
img.Image {
  border-left-style: Solid;
  border-left-width: 1px;
  border-right-style: Solid;
  border-right-width: 1px;
  border-top-style: Solid;
  border-top-width: 1px;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-left-color: #000000;
  border-right-color: #000000;
  border-top-color: #000000;
  border-bottom-color: #000000;
  float: none;
  margin-left: 0pt;
}
p.Note {
  border-top-style: Solid;
  border-bottom-style: Solid;
  background-color: #dddddd;
  margin-top: 12pt;
  margin-bottom: 12pt;
  font-size: 10pt;
  list-style: rh-list;
  x-list-class: rl-p-Note;
  x-list-level: 1;
  line-height: 150%;
  padding-top: 12pt;
  padding-bottom: 12pt;
  font-weight: bold;
  font-family: Arial;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
rh-list.rl-p-Note {
  x-level-count: 1;
  x-lvl-1-format: "Note:";
  x-lvl-1-type: ;
}
p.Tip {
  border-top-style: Solid;
  border-bottom-style: Solid;
  background-color: #dde5f4;
  margin-top: 12pt;
  margin-bottom: 12pt;
  font-size: 10pt;
  list-style: rh-list;
  x-list-class: rl-p-Tip;
  x-list-level: 1;
  line-height: 150%;
  padding-top: 12pt;
  padding-bottom: 12pt;
  font-weight: bold;
  font-family: Arial;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-top-color: #808080;
  border-bottom-color: #808080;
  color: #000000;
}
rh-list.rl-p-Tip {
  x-level-count: 1;
  x-lvl-1-format: "Tip:";
  x-lvl-1-type: ;
}
p.Figure_title {
  font-size: 10pt;
  margin-top: 3pt;
  margin-bottom: 12pt;
  list-style: rh-list;
  x-list-class: rl-p-Figure_title;
  x-list-level: 1;
  font-family: Arial;
  x-next-class: Content_body;
  x-next-type: p;
}
rh-list.rl-p-Figure_title {
  x-level-count: 1;
  x-lvl-1-format: "Figure <x>";
  x-lvl-1-type: decimal;
}
p.Numbered {
  margin-top: 6pt;
  margin-bottom: 6pt;
  font-family: Arial;
  text-indent: -72px;
  font-size: 11pt;
  margin-left: 1in;
}
p.Bulleted_list {
  font-size: 11.5pt;
  margin-top: 3pt;
  margin-bottom: 3pt;
  font-family: Arial;
  margin-left: 0px;
  text-indent: 0px;
}
rh-list.Bullet_list {
  x-lvl-4-type: decimal;
  x-lvl-4-format: "&o<x>&c";
  x-lvl-4-margin: 60px;
  x-lvl-5-format: "&o<x>&c";
  x-lvl-5-margin: 80px;
  x-lvl-6-type: lower-roman;
  x-lvl-6-format: "&o<x>&c";
  x-lvl-6-margin: 100px;
  x-lvl-8-type: lower-alpha;
  x-lvl-8-margin: 140px;
  x-lvl-7-format: "<x>.";
  x-lvl-7-margin: 120px;
  x-lvl-9-type: lower-roman;
  x-lvl-9-margin: 160px;
  x-lvl-1-format: "<x>";
  x-lvl-1-pfx-class: rls-1-Bullet_list;
  x-lvl-2-type: circle;
  x-lvl-2-pfx-class: rls-2-Bullet_list;
  x-lvl-3-type: square;
  x-lvl-3-format: "<x>";
  x-lvl-3-pfx-class: rls-3-Bullet_list;
  x-lvl-4-pfx-class: rls-4-Bullet_list;
  x-lvl-1-type: filled-circle;
  x-lvl-1-margin: 50px;
  x-lvl-1-p-class: Bulleted_list;
  x-lvl-1-p-tag: p;
  x-lvl-3-margin: 100px;
  x-lvl-3-p-class: Bulleted_list;
  x-lvl-3-p-tag: p;
  x-lvl-2-format: "<x>";
  x-level-count: 9;
  x-lvl-2-margin: 80px;
  x-lvl-2-text-indent: -30px;
  x-lvl-2-p-class: Bulleted_list;
  x-lvl-2-p-tag: p;
}
span.rls-1-Bullet_list {
  font-size: 10pt;
  font-family: Arial;
}
span.rls-2-Bullet_list {
  font-size: 10pt;
  font-family: Arial;
}
span.rls-3-Bullet_list {
  font-size: 10pt;
  font-family: Arial;
}
rh-list.Numbered_list {
  x-lvl-5-format: "&o<x>&c";
  x-lvl-5-margin: 80px;
  x-lvl-6-type: lower-roman;
  x-lvl-6-format: "&o<x>&c";
  x-lvl-6-margin: 100px;
  x-lvl-8-type: lower-alpha;
  x-lvl-8-margin: 140px;
  x-lvl-7-format: "<x>.";
  x-lvl-7-margin: 120px;
  x-lvl-9-type: lower-roman;
  x-lvl-9-margin: 160px;
  x-lvl-1-pfx-class: rls-1-Numbered_list;
  x-lvl-2-pfx-class: rls-2-Numbered_list;
  x-lvl-4-type: lower-alpha;
  x-lvl-4-format: "<x>.";
  x-lvl-4-margin: 60px;
  x-lvl-4-p-class: Numbered;
  x-lvl-4-p-tag: p;
  x-lvl-2-type: lower-alpha;
  x-lvl-3-type: lower-roman;
  x-lvl-3-pfx-class: rls-3-Numbered_list;
  x-lvl-1-format: "<x>.";
  x-lvl-1-margin: 50px;
  x-lvl-1-p-class: Numbered;
  x-lvl-1-p-tag: p;
  x-lvl-2-format: "<x>.";
  x-lvl-2-margin: 80px;
  x-lvl-2-text-indent: -30px;
  x-lvl-2-p-class: Numbered;
  x-lvl-2-p-tag: p;
  x-level-count: 9;
  x-lvl-3-format: "<x>.";
  x-lvl-3-margin: 100px;
  x-lvl-3-text-indent: -20px;
  x-lvl-3-p-class: Numbered;
  x-lvl-3-p-tag: p;
}
span.rls-1-Numbered_list {
  font-size: 10pt;
  font-family: Arial;
}
span.rls-2-Numbered_list {
  font-size: 10pt;
  font-family: Arial;
}
p.Procedure_Title {
  margin-top: 6pt;
  margin-bottom: 6pt;
  font-size: 11pt;
  font-family: Arial;
  font-weight: bold;
}
p.Content_body_indented {
  font-size: 11pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
  font-family: Arial;
  margin-left: 0.52in;
}
table.Aras_Table {
  font-family: Tahoma;
  x-1st-row: 1;
  x-1st-row-name: t1st;
  border-left-style: Solid;
  border-left-width: 1px;
  border-left-color: #dddddd;
  border-right-style: Solid;
  border-right-width: 1px;
  border-right-color: #dddddd;
  border-top-style: Solid;
  border-top-width: 1px;
  border-top-color: #dddddd;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-bottom-color: #dddddd;
  font-size: 10pt;
}
table.Aras_Table tr.t1st td {
  font-family: Tahoma;
  background-color: #dddddd;
  font-size: 10pt;
}
table.AlternateBlueWithBlankHeader {
  padding: 0px;
  x-border-spacing: 0px;
  x-row-pat-1: 1;
  x-row-pat-1-name: t1Row;
  x-row-pat-count: 2;
  x-row-pat-2: 1;
  x-row-pat-2-name: t2Row;
  x-1st-row: 1;
  x-1st-row-name: t1st;
}
table.AlternateBlueWithBlankHeader td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}
table.AlternateBlueWithBlankHeader tr.t1Row td {
  font-family: "Times New Roman";
  font-size: 12pt;
  background-color: NewColor2;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-bottom-color: #4F81BD;
}
table.AlternateBlueWithBlankHeader tr.t2Row td {
  background-color: #D3DFEE;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-bottom-color: #4F81BD;
}
table.AlternateBlueWithBlankHeader tr.t1st td {
  font-family: "Times New Roman";
  font-size: 12pt;
  font-weight: bold;
  border-top-style: Solid;
  border-top-width: 2px;
  border-top-color: #0000ff;
  border-bottom-style: Solid;
  border-bottom-width: 2px;
  border-bottom-color: #0000ff;
}
rh-seq.Note {}
p.Figure_indented {
  margin-top: 6pt;
  margin-bottom: 6pt;
  font-size: 10pt;
  list-style: rh-list;
  x-list-class: rl-p-Figure_indented;
  x-list-level: 1;
  font-family: Arial;
  margin-left: 0.52in;
}
rh-list.rl-p-Warning {
  x-level-count: 1;
  x-lvl-1-format: "Warning:";
  x-lvl-1-type: decimal;
  x-lvl-1-pfx-class: Bold;
}
table.AlternateBlueColorGrid {
  x-border-spacing: 0px;
  x-row-pat-1: 1;
  x-row-pat-1-name: t1Row;
  x-row-pat-count: 2;
  x-row-pat-2: 1;
  x-row-pat-2-name: t2Row;
  border-left-style: Solid;
  border-left-width: 1px;
  border-left-color: #4F81BD;
  border-top-style: Solid;
  border-top-width: 1px;
  border-top-color: #4F81BD;
}
table.AlternateBlueColorGrid td {
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;
  padding-bottom: 0px;
}
table.AlternateBlueColorGrid tr.t1Row td {
  font-family: "Times New Roman";
  font-size: 12pt;
  border-right-style: Solid;
  border-right-width: 1px;
  border-right-color: #4F81BD;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-bottom-color: #4F81BD;
}
table.AlternateBlueColorGrid tr.t2Row td {
  border-right-style: Solid;
  border-right-width: 1px;
  border-right-color: #4F81BD;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-bottom-color: #4F81BD;
  background-color: #D3DFEE;
}
table.Aras_Blue {
  font-family: Tahoma;
  font-size: 10pt;
  x-border-spacing: 0px;
  x-1st-row: 1;
  x-1st-row-name: t1st;
  border-left-style: Solid;
  border-right-style: Solid;
  border-top-style: Solid;
  border-bottom-style: Solid;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-color: #c0c0c0;
  border-right-color: #c0c0c0;
  border-top-color: #c0c0c0;
  border-bottom-color: #c0c0c0;
  text-indent: ;
  margin-left: 0.52in;
}
table.Aras_Blue td {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
}
table.Aras_Blue tr.t1st td {
  font-family: Tahoma;
  font-size: 10pt;
  font-weight: bold;
  background-color: #dde5f4;
  color: #545454;
}
span.Bold {
  font-size: 10pt;
  font-weight: bold;
  font-family: Arial;
}
rh-list.rl-p-Figure_indented {
  x-level-count: 1;
  x-lvl-1-format: "Figure <x>";
  x-lvl-1-type: decimal;
}
p.Table_Body {
  font-size: 10pt;
  margin-left: 3pt;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-family: Arial;
  x-next-class: Content_body;
  x-next-type: p;
}
p.Table_header {
  color: #545454;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Arial;
}
p.Copyright_footer {}
span.rls-4-Bullet_list {
  font-family: Arial;
  font-size: 10pt;
}
span.rls-3-Numbered_list {
  font-family: Arial;
  font-size: 10pt;
}
p.Note_indented {
  border-top-style: Solid;
  border-bottom-style: Solid;
  background-color: #dddddd;
  margin-top: 12pt;
  margin-bottom: 12pt;
  font-size: 10pt;
  list-style: rh-list;
  x-list-class: rl-p-Note;
  x-list-level: 1;
  line-height: 150%;
  border-top-width: 1px;
  border-bottom-width: 1px;
  padding-top: 12pt;
  padding-bottom: 12pt;
  font-weight: bold;
  font-family: Arial;
  margin-left: 0.52in;
}
span.Code {
  font-family: Courier;
  font-size: 10pt;
}
p.Code_Sample {
  font-family: Courier;
  font-size: 10pt;
  margin-top: 6pt;
  margin-bottom: 6pt;
}
rh-list.Warning_Black {
  x-lvl-2-type: lower-alpha;
  x-lvl-2-format: "<x>&c";
  x-lvl-2-margin: 20px;
  x-lvl-3-type: lower-roman;
  x-lvl-3-format: "<x>&c";
  x-lvl-3-margin: 40px;
  x-lvl-4-type: decimal;
  x-lvl-4-format: "&o<x>&c";
  x-lvl-4-margin: 60px;
  x-lvl-5-format: "&o<x>&c";
  x-lvl-5-margin: 80px;
  x-lvl-6-type: lower-roman;
  x-lvl-6-format: "&o<x>&c";
  x-lvl-6-margin: 100px;
  x-lvl-8-type: lower-alpha;
  x-lvl-8-margin: 140px;
  x-lvl-7-format: "<x>.";
  x-lvl-7-margin: 120px;
  x-lvl-9-type: lower-roman;
  x-lvl-9-margin: 160px;
  x-lvl-1-pfx-class: rls-1-Warning_Black;
  x-lvl-1-format: "Warning:";
  x-level-count: 9;
  x-lvl-1-p-class: Warning_paragraph;
  x-lvl-1-p-tag: p;
}
p.Warning_paragraph {
  font-size: 10pt;
  list-style: rh-list;
  x-list-class: rl-p-Warning_paragraph;
  x-list-level: 1;
  border-top-style: Solid;
  border-top-width: 1px;
  border-bottom-style: Solid;
  border-bottom-width: 1px;
  border-top-color: #ff0000;
  border-bottom-color: #ff0000;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 8pt;
  margin-bottom: 8pt;
  text-indent: -0in;
  margin-left: 0in;
}
rh-list.rl-p-Warning_paragraph {
  x-level-count: 1;
  x-lvl-1-format: "Warning:";
  x-lvl-1-type: ;
}
span.rls-1-Warning_Black {
  font-family: Arial;
  font-size: 10pt;
  color: #ff0000;
  font-weight: bold;
}
rh-list.Warning_Black_Indented {
  x-lvl-2-type: lower-alpha;
  x-lvl-3-type: lower-roman;
  x-lvl-3-format: "<x>&c";
  x-lvl-3-margin: 40px;
  x-lvl-4-type: decimal;
  x-lvl-4-format: "&o<x>&c";
  x-lvl-4-margin: 60px;
  x-lvl-5-format: "&o<x>&c";
  x-lvl-5-margin: 80px;
  x-lvl-6-type: lower-roman;
  x-lvl-6-format: "&o<x>&c";
  x-lvl-6-margin: 100px;
  x-lvl-8-type: lower-alpha;
  x-lvl-8-margin: 140px;
  x-lvl-7-format: "<x>.";
  x-lvl-7-margin: 120px;
  x-lvl-9-type: lower-roman;
  x-lvl-9-margin: 160px;
  x-lvl-1-pfx-class: rls-1-Warning_Black;
  x-lvl-1-format: "Warning:";
  x-lvl-2-format: "Warning: ";
  x-lvl-2-pfx-class: rls-2-Warning_Black_Indented;
  x-lvl-2-margin: 40px;
  x-lvl-2-p-class: Warning_paragraph;
  x-lvl-2-p-tag: p;
  x-level-count: 9;
  x-lvl-1-margin: 50px;
  x-lvl-1-p-class: Warning_paragraph;
  x-lvl-1-p-tag: p;
}
span.rls-2-Warning_Black_Indented {
  font-family: Arial;
  font-size: 10pt;
  color: #ff0000;
  font-weight: bold;
}
span.Italics {
  font-style: italic;
  font-size: 10pt;
}
span.Code_yellow_highlight {
  background-color: #ffff00;
  font-family: Courier;
  font-size: 10pt;
}
span.Code_yellow_highlight_red_text {
  background-color: #ffff00;
  color: #ff0000;
  font-family: Courier;
  font-size: 10pt;
}
span.DHTML_link {
  color: #0000ff;
  text-decoration: underline;
}
p.Tip_Indented {
  border-top-style: Solid;
  border-bottom-style: Solid;
  background-color: #dde5f4;
  margin-top: 12pt;
  margin-bottom: 12pt;
  font-size: 10pt;
  list-style: rh-list;
  x-list-class: rl-p-Tip;
  x-list-level: 1;
  line-height: 150%;
  padding-top: 12pt;
  padding-bottom: 12pt;
  font-weight: bold;
  font-family: Arial;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-top-color: #808080;
  border-bottom-color: #808080;
  margin-left: 0.52in;
  color: #000000;
}
rh-list.Bullets {
  x-lvl-1-type: disc;
  x-lvl-1-format: "<x>";
  x-lvl-2-type: square;
  x-lvl-2-format: "<x>";
  x-lvl-2-margin: 20px;
  x-lvl-3-type: circle;
  x-lvl-3-format: "<x>";
  x-lvl-3-margin: 40px;
  x-lvl-4-type: diamond;
  x-lvl-4-format: "<x>";
  x-lvl-4-margin: 60px;
  x-lvl-5-type: disc;
  x-lvl-5-format: "<x>";
  x-lvl-5-margin: 80px;
  x-lvl-6-type: square;
  x-lvl-6-format: "<x>";
  x-lvl-6-margin: 100px;
  x-lvl-7-type: circle;
  x-lvl-7-format: "<x>";
  x-lvl-7-margin: 120px;
  x-lvl-8-type: diamond;
  x-lvl-8-format: "<x>";
  x-lvl-8-margin: 140px;
  x-level-count: 9;
  x-lvl-9-type: disc;
  x-lvl-9-format: "<x>";
  x-lvl-9-margin: 160px;
  x-lvl-9-pfx-class: rls-9-Bullets;
  x-lvl-1-pfx-class: rls-1-Bullets;
  x-lvl-2-pfx-class: rls-2-Bullets;
  x-lvl-3-pfx-class: rls-3-Bullets;
  x-lvl-4-pfx-class: rls-4-Bullets;
  x-lvl-5-pfx-class: rls-5-Bullets;
  x-lvl-6-pfx-class: rls-6-Bullets;
  x-lvl-7-pfx-class: rls-7-Bullets;
  x-lvl-8-pfx-class: rls-8-Bullets;
}
span.rls-9-Bullets {
  font-size: 8pt;
}
span.rls-1-Bullets {
  font-size: 12pt;
}
span.rls-2-Bullets {
  font-size: 12pt;
}
span.rls-3-Bullets {
  font-size: 12pt;
}
span.rls-4-Bullets {
  font-size: 12pt;
}
span.rls-5-Bullets {
  font-size: 10pt;
}
span.rls-6-Bullets {
  font-size: 10pt;
}
span.rls-7-Bullets {
  font-size: 10pt;
}
span.rls-8-Bullets {
  font-size: 10pt;
}
ol.Decimal {
  list-style-type: decimal;
}
p.Numbered::before {
  counter-increment: p\.numbered;
  content: ;
  padding-right: 0rem;
}