﻿.selectAllRowContainer {
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(212, 212, 212);
}

.scrollContainer {
	max-height: 290px;
	overflow-y: auto !important;
	margin: 5px 0;
}

.buttonContainer {
	border-top: 1px solid rgb(212, 212, 212);
	padding-top: 10px;
}

.label {
	display: block;
	margin-bottom: 5px;
	font-weight: bold;
}

.propertiesContainer>label {
	margin-top: 5px;
}

.selectAllLabel {
	font-size: 12px;
	padding-left: 5px;
}

.relatedItemRowContainer {
	display: flex;
	height: 25px;
}

.rowSelect {
	font-size: 12px;
	padding-left: 5px;
}

.relationshipsLabel {
	font-size: 12px;
	font-weight: bold;
}

.relationshipsContainer .propertiesContainer {
	margin: 0;
}

.relationshipsContainer {
	margin: 0;
	border-bottom: 1px solid rgb(212, 212, 212);
}

.propertiesContainer {
	margin: 0;
}

.popupButton {
	padding: 8px 0 !important;
	display: inline-block;
	width: 90px;
	border-radius: 3px;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	background-color: #3668b1;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

}

.popupButton:hover {
	background-color: #4b8be8;
}

.cancelButton {
	margin-left: 12px;
	background-color: #5f6871;
}
.cancelButton:hover {
	background-color: #a2b0c4;
}

.relatedItemImage {
	width: 16px;
	height: 16px;
	display: inline-block;
	padding-right: 5px;
}

.aras-form-boolean input[type="checkbox"] {
	display: none;
}

.aras-form-boolean input[type="checkbox"] + span {
	display: block;
	font-size: 0;
	float: left;
	height: 16px;
	width: 16px;
	text-align: center;
	margin-right: 5px;
	border: 1px solid #505050;
	box-sizing: border-box;
	background-color: #ffffff;
}

.column-select-block .aras-form-boolean > span {
	line-height: 1.3333rem;
}

.aras-form-boolean.mixed input[type="checkbox"] + span::before {
	width: 0;
	height: 0;
	border: 4px solid #3668b1;
	transform: none;
}

.aras-form-boolean input[type="checkbox"][type="checkbox"]:checked + span::before {
	width: 7px;
	height: 4px;
	margin-top: -3px;
	border: 2px solid #3668b1;
	border-top-width: 0;
	border-right-width: 0;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.aras-form-boolean input[type="checkbox"] + span:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
}

.aras-form-boolean input[type="checkbox"] + span::after {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

.no-result {
	text-align: center;
	flex-grow: 1;
	padding: 8px 0;
}

.expandCollapsePopup {
	padding: 12px;
	overflow-y: visible;
	position: absolute;
	display: none;
	width: 192px;
	max-height: 384px;
	background-color: #FFFFFF;
	border-radius: 3px;
	border: 1px solid #909090;
}

.expandCollapsePopup.active {
	display: block;
}
