﻿@{
	Layout = "../../aras.innovator.core.ItemWindow/Views/Shared/_Layout.cshtml";
}
@section style
{
	<style type="text/css">
		@@import "@Url.ContentWithSalt("~/javascript/include.aspx?classes=graphView.css")";
	</style>
}
@section header
{
	<script type="text/javascript" src="../../Modules/aras.innovator.GraphView/Scripts/GraphView.js"></script>
}
@section center
{
	<div id="graphToolbar"></div>
	<div id="graphView"></div>
}
