﻿.toggled-on {
  color: #333333;
  background-color: #dce3f9;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):hover,
.toggled-on:not([disabled]):focus {
  background-color: #e2e6f3;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):active {
  background-color: #e2e6f3;
  border-color: #777a9c;
}
.activeFilterChipsToolbar {
  position: relative;
}
.activeFilterChipsContainer {
  position: absolute;
  left: 0;
  margin: -4px;
  width: calc(100% - 34px + 4px * 2);
  height: calc(100% + 4px * 2);
  overflow: hidden;
}
.toggleChipsButton {
  position: absolute;
  right: 0px;
  bottom: 0px;
  margin: 4px 0px;
}
.toggleChipsButton.expanded > .aras-button__icon {
  transform: rotate(180deg);
}
.activeFilterTitle {
  display: inline-block;
  vertical-align: middle;
  margin: 4px;
  line-height: 32px;
  font-size: normal 0.83333333rem Roboto, 'Noto Sans JP', Arial, sans-serif;
  font-weight: 500;
  color: #333333;
}
.activeFilterTitle.top {
  color: #f57c00;
}
.activeFilterChipContainer {
  display: inline-block;
  height: 32px;
  margin: 4px;
  padding: 0px 12px;
  border-radius: 16px;
  background-color: #e2e6f3;
}
.activeFilterChipContainer > span {
  vertical-align: middle;
  font-family: normal 0.83333333rem Roboto, 'Noto Sans JP', Arial, sans-serif;
  font-weight: 500;
  color: #333380;
  line-height: 32px;
}
.activeFilterChipContainer > img {
  width: 8px;
  height: 8px;
  vertical-align: middle;
  cursor: pointer;
  margin-left: 2px;
}
.activeFilterChipContainer.beforeNextGroup {
  margin-right: 12px;
}
