﻿.filtersPanelContainer {
  height: 100%;
  position: relative;
}
.filtersPanelHeaderContainer {
  height: 98px;
  padding: 12px;
  box-sizing: border-box;
}
.filtersPanelHeaderContainer > button {
  float: left;
  width: 45%;
  height: 32px;
  font-size: 12px;
  font-weight: bold;
  box-sizing: border-box;
}
.filtersPanelHeaderContainer > button:last-of-type {
  float: right;
  margin-right: 0;
}
.filtersPanelHeaderContainer .aras-button_d {
  padding: 3px;
  border: 1px solid transparent;
}
.filterItemContainer {
  overflow: hidden;
  padding: 5px 12px 8px;
}
.filtersPanelLinkButton {
  color: #3668b1;
  cursor: pointer;
  font-size: 12px;
  text-decoration: underline;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.filterItemOptionsContainer {
  margin: 7px 0 0 18px;
}
.filterItemCollapsed .filterItemExpandCollapseArrow {
  transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}
.filterItemCollapsed > .filterItemOptionsContainer,
.filterItemCollapsed > .filterItemMoreOptionsLinkContainer {
  display: none;
}
.filterItemHeader {
  width: 100%;
  line-height: 21px;
  display: inline-block;
}
.filterItemHeader img {
  width: 16px;
  height: 16px;
  cursor: pointer;
  margin: 2px 2px 0 0;
  vertical-align: top;
}
.filterItemHeader > * {
  display: inline;
}
.filtersPanelRightControls {
  float: right;
}
.filtersPanelRightControls img {
  width: 20px;
  height: 20px;
  margin-top: 0;
}
.filtersPanelRightControls > * {
  vertical-align: text-bottom;
}
.filterItemLabel {
  color: #444444;
  font-size: 12px;
  font-weight: bold;
  word-break: break-all;
}
.topFilterItem .filterItemLabel {
  color: #e78e46;
}
.filterItemOptionContainer {
  width: 100%;
  display: flex;
  padding: 4px 0;
  min-height: 18px;
  align-items: center;
}
.filterItemOptionContainer > label {
  color: #444444;
  cursor: pointer;
  font-size: 12px;
  line-height: 10px;
}
.filterItemOptionContainer > label > input[type='checkbox'] {
  margin-right: 8px;
}
.filterOptionCountLabel {
  color: #999999;
  font-size: 12px;
  margin-left: 4px;
  position: relative;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.filterItemMoreOptionsLinkContainer {
  font-size: 12px;
  line-height: 16px;
  display: inline-block;
}
.filtersPanelTextBox {
  width: 100%;
  margin-top: 10px;
}
.filtersPanelFilterOptionsContainer {
  overflow: auto;
  height: calc(100% - 62px);
}
.selectedFilter {
  background-color: #f7f7f7;
}
.filtersPanelOptionsContainer {
  overflow-y: auto;
  padding-right: 0;
  height: calc(100% - 98px);
}
.noScroll .filtersPanelOptionsContainer {
  overflow: hidden;
}
.noScroll .filtersPanelOptionsContainer:before {
  content: '';
  float: right;
  height: 9999999px;
  overflow-y: scroll;
  visibility: hidden;
}
.filtersPanelFakeScroll {
  right: 0;
  bottom: 0;
  z-index: 1;
  display: none;
  position: absolute;
  overflow-y: scroll;
  height: calc(100% - 98px);
}
.noScroll .filtersPanelFakeScroll {
  display: block;
}
