﻿.toggled-on {
  color: #333333;
  background-color: #dce3f9;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):hover,
.toggled-on:not([disabled]):focus {
  background-color: #e2e6f3;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):active {
  background-color: #e2e6f3;
  border-color: #777a9c;
}
body {
  display: flex;
  flex-direction: column;
}
#dialogContent {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  margin: 0 16px 0 16px;
}
#dialogContent > *:not(:last-child) {
  margin-right: 16px;
}
#buttonsContainer {
  display: flex;
  justify-content: flex-end;
  margin: 20px 16px 16px 16px;
}
#buttonsContainer > .aras-button {
  min-width: 80px;
}
#buttonsContainer > .aras-button:not(:first-child) {
  margin-left: 8px;
}
#buttonsContainer > .aras-button .aras-button__text {
  width: 100%;
  font-weight: bold;
}
#availablePropsContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
#availablePropsContainer > .content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
}
#availablePropsContainer .aras-grid-head-cell:first-child {
  border-left: 1px solid #aaaaaa;
}
#availablePropsContainer .aras-grid-search-row-cell:first-child {
  border-left: 1px solid #cccccc;
}
#availablePropsContainer .aras-grid-row {
  border-left: 1px solid #dddddd;
}
#gridToolbar {
  margin-bottom: 12px;
}
#selectedPropsContainer {
  display: flex;
  flex-direction: column;
}
.subtitle {
  font: normal 1.166667rem / 1.2 Roboto, 'Noto Sans JP', Arial, sans-serif;
  margin-bottom: 8px;
}
.listbox {
  flex-grow: 1;
  width: 256px;
  padding: 8px;
  overflow-y: auto;
  overflow-x: hidden;
  border: #aaaaaa 1px solid;
  border-radius: 2px;
}
.propItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.propItem .propItemLabel {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.propItem:not(:last-child) {
  margin-bottom: 8px;
}
.propItem .aras-button {
  border-radius: 16px;
}
.hidden {
  display: none !important;
}
#searchSpinner {
  border: 0;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999999;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background-color: white;
}
.warnDialog #warnIcon {
  width: 48px;
  height: 48px;
}
.warnDialog #warnMessage {
  font: normal 1rem / 1.2 Roboto, 'Noto Sans JP', Arial, sans-serif;
}
.warnDialog #acceptButton {
  width: 192px;
  background-color: #d32f2f;
}
