﻿html,
body {
  margin: 0;
  overflow: hidden;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Tahoma;
  color: white;
  background: url(../images/bg.png) no-repeat center center fixed;
  background-size: cover;
}
.licenseContainer {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: 70%;
  min-width: 348px;
  max-height: 90%;
  font-size: 24px;
  padding: 45px;
  padding-left: calc(10% + 280px + 20px);
  background-color: #c03;
}
.licenseContainer:before {
  display: block;
  top: -5px;
  left: 10%;
  content: ' ';
  height: 164px;
  width: 280px;
  position: absolute;
  background: url(../images/es_pc.png) no-repeat center center;
  background-size: cover;
}
@media screen and (max-width: 960px) {
  .licenseContainer {
    padding-top: 195px;
    padding-left: 45px;
  }
}
.licenseContainer-button {
  display: block;
  position: relative;
  background-color: black;
  display: table;
  font-size: 24px;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  padding: 10px 50px;
  margin: 0 auto;
}
a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}
