﻿@{
	Layout = "../../aras.innovator.core.ItemWindow/Views/Shared/_tabItemViewLayout.cshtml";
}
@section extra_header
{
	<link rel="stylesheet" href="@Url.ContentWithSalt("~/javascript/dijit/themes/claro/claro.css")" />
	<link rel="stylesheet" href="@Url.ContentWithSalt("~/public/styles/controls.css")" />
	<link rel="stylesheet" href="@Url.ContentWithSalt("~/Modules/aras.innovator.TreeGridView/Styles/configurator.css")" />
	<style>
		.dijitTooltipContainer .dijitTooltipFocusNode {
			padding: 0;
		}
	</style>
	<script>
		require(['TreeGridView/Scripts/Configurator/main']);
	</script>
}
@section after_center
{
	<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="gutters:false" style='height:100%;' id="TreeGridViewDefinitionConfigurator">
		<div id="configuratorToolbar" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'top', style:'height:30px;padding:0px;overflow:hidden;'"></div>
		<div id="configuratorTree" data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center', style:'padding:0px;'"></div>
	</div>
}