﻿body {
	text-align: center;
}
.max-visible-children {
	overflow: hidden;
	padding: 10px;
}
.max-visible-children label,
.max-visible-children input {
	float: left;
	margin-right: 10px;
}
.max-visible-children label {
	line-height: 1.7;
}
.max-visible-children input {
	width: 60px;
}
button {
	overflow: hidden;
	width: 110px;
	margin-left: 8px;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: top;
	font-size: 12px;
}
.filter-viewer-content {
	border: 1px solid #d4d4d4;
	border-left: none;
	border-right: none;
	box-sizing: border-box;
	overflow: auto;
	height: 315px;
	text-align: left;
	margin-bottom: 20px;
}
.aras-grid-row:nth-child(odd):not(:hover):not(.aras-grid-row_selected) {
	background-color: #fff;
}
.aras-grid-row_reusable:after,
.aras-grid-row_reused:after {
	right: 0;
	content: '';
	position: absolute;
	width: 22px;
	height: 22px;
}
.aras-grid-row_reusable:after {
	background: url('../../../images/RecyclingStartOff.svg') no-repeat 0 0 /
		contain;
}
.aras-grid-row_reusable:hover:after,
.aras-grid-row_reusable.aras-grid-row_selected:after {
	background-image: url('../../../images/RecyclingStart.svg');
}
.aras-grid-row_reused:after {
	background: url('../../../images/RecyclingOff.svg') no-repeat 0 0 / contain;
}
.aras-grid-row_reused:hover:after,
.aras-grid-row_reused.aras-grid-row_selected:after {
	background-image: url('../../../images/Recycling.svg');
}
.aras-grid-row-cell_disabled {
	color: darkgrey;
}
.aras-grid-row-cell_disabled img {
	opacity: 0.5;
}
.aras-grid-row-cell__icon {
	display: inline-block;
	margin-right: 3px;
	width: 22px;
	height: 22px;
	vertical-align: middle;
}
.aras-grid-header,
.aras-grid-active-cell {
	display: none;
}
.aras-grid-row-cell {
	border-width: 0;
}
.aras-grid-row-cell:first-child {
	overflow: visible;
	background: #f8f8f8;
}
.aras-form-boolean {
	position: relative;
}
.aras-form-boolean:before {
	background: #fff;
	color: #444;
	content: 'Toggle visibility';
	display: none;
	position: absolute;
	left: 100%;
	top: 100%;
	border: 1px solid #979797;
	padding: 2px 5px;
	z-index: 10;
}
.aras-form-boolean:hover:before {
	display: block;
}
.aras-form-boolean_disabled:hover:before {
	display: none;
}
.aras-form-boolean input[type='checkbox'] + span {
	background: url('../../../images/ToggleVisibilityOn.svg') no-repeat 0 0 /
		contain;
	border-width: 0;
	width: 22px;
	height: 22px;
}
.aras-form-boolean_disabled input[type='checkbox'] + span {
	background-image: url('../../../images/ToggleVisibilityDisabled.svg');
}
.aras-form-boolean_off input[type='checkbox'] + span {
	background-image: url('../../../images/ToggleVisibilityOff.svg');
}
.aras-form-boolean input[type='checkbox'] + span:before {
	display: none;
}
.button_wrapper {
	text-align: right;
    margin: 0 16px 16px 0;
	font-size: 0
}
