﻿.toggled-on {
  color: #333333;
  background-color: #dce3f9;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):hover,
.toggled-on:not([disabled]):focus {
  background-color: #e2e6f3;
  border-color: #333380;
  box-shadow: none;
}
.toggled-on:not([disabled]):active {
  background-color: #e2e6f3;
  border-color: #777a9c;
}
body {
  background: #fbfbfb;
  box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content 1fr;
  grid-template-rows: max-content 1fr;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  padding: 12px;
  padding-left: 0;
  padding-bottom: 0;
}
.aras-item-view__toolbars {
  -ms-grid-row: 1;
  grid-row: 1;
  margin-left: 12px;
}
.aras-item-view__container {
  -ms-grid-row: 2;
  grid-row: 2;
  padding-bottom: 12px;
  overflow: hidden;
}
.aras-item-view__container .aras-invisible {
  position: absolute;
}
.aras-item-view__content,
.aras-item-view__form-layout,
.aras-item-view__placeholder-pane,
.aras-item-view__viewers.simpleTabContainer {
  height: 100%;
}
.aras-item-view__left-sidebar:not(:empty) {
  margin-left: 12px;
}
.aras-item-view__left-sidebar:not(:empty) .sidebarAllFilesDropDownButton .dijitArrowButtonInner {
  display: none;
}
.aras-item-view__right-sidebar {
  min-width: 350px;
  width: 350px;
}
.aras-item-view__form-tab {
  box-sizing: border-box;
  padding: 12px;
  padding-top: 0;
}
.aras-item-view__form-tab .aras-accordion {
  margin-top: 12px;
}
.aras-item-view__form-tab .aras-accordion:first-child {
  margin-top: 0;
}
.aras-item-view__form-tab .aras-accordion_collapsed .aras-tabs_active:after {
  background-color: #dddddd;
}
.aras-item-view__relationship-content {
  height: 600px;
}
.aras-item-view__relationship-accordion.aras-hide {
  display: none;
}
.aras-item-view__relationship-accordion .aras-tabs {
  overflow: hidden;
}
