@{
    Layout = "Shared/_tabItemViewLayout.cshtml";
}
@section extra_header
{
	<script>
		require(['DomainAccessControl/scripts/domainaccesscontrol/DomainDefinitionEditor']);
	</script>
}
@section after_center
{
	<div data-dojo-type="dijit/layout/BorderContainer" data-dojo-props="region:'center', liveSplitters:true, gutters:false" class="domainDefinitionEditorContainer" style="height: 100% ">
		<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'left', splitter:true, style:'width:280px; padding:0px;'">
			<div class="destination-tree-container">
				<div id="root-itemtype-info" class="itemtype-info"></div>
				<div class="destination-tree"></div>
			</div>
		</div>
		<div data-dojo-type="dijit/layout/ContentPane" data-dojo-props="region:'center', style:'width:85%; padding:0px;'">
			<div id="derived-relationship-info" class="relationship-info"></div>
			<div class="rules-grid" style="height: calc(100% - 33px)">
				<iframe src="@Url.ContentWithSalt("~/Modules/aras.innovator.DomainAccessControl/Views/RulesGridWrapper.html")" id="wrapper" frameBorder="0" width="100%" height="100%" scrolling="no"></iframe>
			</div>
		</div>
	</div>
}