@{
    Layout = "Shared/_tabItemViewLayout.cshtml";
}
@section extra_header
{
    <style type="text/css">@@import "@Url.ContentWithSalt("~/javascript/include.aspx?classes=ExtendedClassification.css")"</style>
    <script type="text/javascript" src="@Url.ContentWithSalt("~/Modules/aras.innovator.core.ItemWindow/Scripts/xClassificationEditorView.js")"></script>
    <script type="text/javascript" src="@Url.ContentWithSalt("~/javascript/include.aspx?classes=XClassificationTreeEditor")"></script>
}
@section after_center
{
    <div class="xClassEditorContainer aras-flex hiddenContainer">
        <div>
            <div id="xClassTreeToolbar"></div>
            <div class="class-tree"></div>
        </div>
        <div class="splitter aras-splitter aras-splitter_vertical"></div>
        <div class="properties-grid">
            <iframe src="@Url.ContentWithSalt("~/Modules/aras.innovator.ExtendedClassification/Views/xClassEditorGridWrapper.html")" id="wrapper" frameBorder="0" width="100%" scrolling="no"></iframe>
        </div>
    </div>
}